.message {
	padding: 1em;
	color: #202030;
	font-weight: 500;
	letter-spacing: 0.1em;
	border: 1px solid #b0a990;
	border-radius: 0.2em;
	border-top: 6px solid #b0a990;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.message > * {
	margin-bottom: 1em;
}

.author {
	margin-bottom: 0.6em;
	text-transform: capitalize;
}

.message > *:last-child {
	margin-top: auto;
	margin-bottom: 0;
}
.author,
.date {
	display: flex;
	color: #b0a990;
}

.author-icon,
.date-icon {
	margin-right: 0.4em;
}

.tag-span {
	background-color: rgb(32, 32, 48);
	margin-right: 0.8em;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	transition: background-color 0.3s;
}

.tag-span:hover {
	background-color: #39304a;
}

.tag-link {
	text-align: center;
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-family: monospace;
}

.tag-span {
	background-color: rgb(32, 32, 48);
	font-size: 0.9rem;
	margin-right: 0.8em;
	color: white;
	text-transform: lowercase;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	text-align: center;
}

.tag-span:last-child {
	margin-right: 0;
}
