.nav {
	width: 100vw;
	background-color: #202030;
	box-shadow: 0px 0px 5px 3px #20203041;
	position: fixed;
	z-index: 999;
	top: 0;
}

.navbar {
	display: flex;
	width: 90%;
	max-width: 1200px;
	list-style: none;
	justify-content: flex-end;
	margin: 0 auto;
}
.navbar li {
	margin-left: 2em;
	transition: background-color 0.3s ease-in-out;
}
.navbar li:first-child {
	margin-right: auto;
	margin-left: 0;
}

.navbar li > a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: white;
	padding: 1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.navbar li:hover,
.navbar li:focus {
	background-color: #39304a;
}
